@using NetDeck.Cards
@using NetDeck.Decks

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Beat The Cube!!</h1>
</div>
<div>
    <p>@ViewBag.remainingCards Cards Left in Deck</p>
    <table class = "center">
        
    
        <tr>
            <td>@ViewBag.initialDeal[0].Rank of @ViewBag.initialDeal[0].FullSuitName</td>
            <td>@ViewBag.initialDeal[1].Rank of @ViewBag.initialDeal[1].FullSuitName</td>
            <td>@ViewBag.initialDeal[2].Rank of @ViewBag.initialDeal[2].FullSuitName</td>
        </tr>
        <tr>
            <td>@ViewBag.initialDeal[3].Rank of @ViewBag.initialDeal[3].FullSuitName</td>
            <td>@ViewBag.initialDeal[4].Rank of @ViewBag.initialDeal[4].FullSuitName</td>
            <td>@ViewBag.initialDeal[5].Rank of @ViewBag.initialDeal[5].FullSuitName</td>
        </tr>
        <tr>
            <td>@ViewBag.initialDeal[6].Rank of @ViewBag.initialDeal[6].FullSuitName</td>
            <td>@ViewBag.initialDeal[7].Rank of @ViewBag.initialDeal[7].FullSuitName</td>
            <td>@ViewBag.initialDeal[8].Rank of @ViewBag.initialDeal[8].FullSuitName</td>
        </tr>
    
    </table>
    <div class = "center">
    <p>Next card will be:</p>
    <button>Higher</button>
    <button>Same</button>
    <button>Lower</button>
    </div>

    
</div>

