@using NetDeck.Cards
@using NetDeck.Decks

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Beat The Cube!!</h1>
    <button>
      <a asp-controller="Home" asp-action="board" method="post">Play</a> 
    </button>
</div>
<div class = "align-content-center">
    <table>
    @{
        StandardDeck deck = new StandardDeck();
        StandardPlayingCard card = null;

        <tr>
            <td>@{card = deck.DrawCard();} @card.Rank of @card.FullSuitName</td>
            <td>@{card = deck.DrawCard();} @card.Rank of @card.FullSuitName</td>
            <td>@{card = deck.DrawCard();} @card.Rank of @card.FullSuitName</td>
        </tr>
        <tr>
            <td>@{card = deck.DrawCard();} @card.Rank of @card.FullSuitName</td>
            <td>@{card = deck.DrawCard();} @card.Rank of @card.FullSuitName</td>
            <td>@{card = deck.DrawCard();} @card.Rank of @card.FullSuitName</td>
        </tr>
        <tr>
            <td>@{card = deck.DrawCard();} @card.Rank of @card.FullSuitName</td>
            <td>@{card = deck.DrawCard();} @card.Rank of @card.FullSuitName</td>
            <td>@{card = deck.DrawCard();} @card.Rank of @card.FullSuitName</td>
        </tr>
    }
    
</table>
</div>